# [Week 3 Log_reg](https://www.coursera.org/learn/vvedenie-mashinnoe-obuchenie/programming/MptFX/loghistichieskaia-rieghriessiia)

In [74]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score

### 1) Загрузите данные из файла data-logistic.csv.

In [4]:
data = pd.read_csv('data-logistic.csv', header = None)

In [5]:
data.head()

   0         1         2
0 -1 -0.663827 -0.138526
1  1  1.994596  2.468025
2 -1 -1.247395  0.749425
3  1  2.309374  1.899836
4  1  0.849143  2.407750

In [60]:
X = data.values[:, 1:]
y = data.values[:,0]

### 2) Реализуйте градиентный спуск для обычной и L2-регуляризованной (с коэффициентом регуляризации 10) логистической регрессии. Используйте длину шага k=0.1. В качестве начального приближения используйте вектор (0, 0).

In [89]:
def sigmoid(x):
    return 1.0 / (1.0 + np.exp(-x))
def log_regression(X, y, k, w, C, epsilon, max_iter):
    for i in range(max_iter):
        wnew = w + k * np.mean((X.T * y) * (1 - sigmoid(y * np.dot(X, w))), axis=1) - k * C* w
        if np.sqrt(np.sum(np.square(wnew-w))) < epsilon:
            print (i)
            break
        w = wnew

    predictions = sigmoid(np.dot(X, w))
    return predictions

In [90]:
weights = np.array([0.0,0.0])

In [91]:
preds1 = log_regression(X, y, k = 0.1, w = weights, C = 0.0, epsilon = 1e-5, max_iter = 10000)

243

### 3) Какое значение принимает AUC-ROC на обучении без регуляризации и при ее использовании?

In [95]:
print(round(roc_auc_score(y, preds), 3))

0.927

In [93]:
preds2 = log_regression(X, y, k = 0.1, w = weights, C = 10.0, epsilon = 1e-5, max_iter = 10000)

7

In [96]:
print(round(roc_auc_score(y, preds2), 3))

0.936

# [Week 3 Metrics](https://www.coursera.org/learn/vvedenie-mashinnoe-obuchenie/programming/vfD6M/mietriki-kachiestva-klassifikatsii)

In [1]:
import pandas as pd
import numpy as np

### 1)Загрузите файл classification.csv. В нем записаны истинные классы объектов выборки (колонка true) и ответы некоторого классификатора (колонка pred).

In [2]:
data = pd.read_csv('classification.csv')
data.head()

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1

### 2) Заполните таблицу ошибок классификации:

In [7]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(data.iloc[:,0], data.iloc[:,1]).ravel()
confusion_matrix = confusion_matrix(data.iloc[:,0], data.iloc[:,1])
tn, fp, fn, tp = confusion_matrix(data.iloc[:,0], data.iloc[:,1]).ravel()
print("Confusion matrix:\n%s" % confusion_matrix)

Confusion matrix:
<function confusion_matrix at 0x00000208721FE438>

In [8]:
tn, fp, fn, tp

(64, 34, 59, 43)

### Ответ на 1 вопрос :43 34 59 64

### 3) Посчитайте основные метрики качества классификатора:

In [33]:
import sklearn 
y_true = data.iloc[:,0]
y_pred = data.iloc[:,1]
accuracy = sklearn.metrics.accuracy_score(y_true, y_pred)
print('Доля верных: ', round(accuracy,2))
precision =  sklearn.metrics.precision_score(y_true, y_pred)
print('Точность: ', round(precision, 2))
recall = sklearn.metrics.recall_score(y_true, y_pred)
print('Полнота: ', round(recall, 2))
F_1 = sklearn.metrics.f1_score(y_true, y_pred)
print('F-1: ', round(F_1, 2))

Доля верных:  0.54
Точность:  0.56
Полнота:  0.42
F-1:  0.48

### 4) Имеется четыре обученных классификатора. В файле scores.csv записаны истинные классы и значения степени принадлежности положительному классу для каждого классификатора на некоторой выборке:

In [40]:
data = pd.read_csv('scores.csv')
y_true = data.iloc[:,0]
y_score_log = data.iloc[:,1]
y_score_svm = data.iloc[:,2]
y_score_knn = data.iloc[:,3]
y_score_tree = data.iloc[:,4]
data.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

### 5) Посчитайте площадь под ROC-кривой для каждого классификатора. Какой классификатор имеет наибольшее значение метрики AUC-ROC (укажите название столбца)? Воспользуйтесь функцией sklearn.metrics.roc_auc_score.

In [43]:
roc_log = sklearn.metrics.roc_auc_score(y_true, y_score_log)
roc_svm = sklearn.metrics.roc_auc_score(y_true, y_score_svm)
roc_knn = sklearn.metrics.roc_auc_score(y_true, y_score_knn)
roc_tree = sklearn.metrics.roc_auc_score(y_true, y_score_tree)
print('Log: ', round(roc_log, 2), 'Svm: ', round(roc_svm, 2), 'Knn: ', round(roc_knn,2), 'Tree: ', round(roc_tree,2))

Log:  0.72 Svm:  0.71 Knn:  0.64 Tree:  0.69

In [145]:
log = sklearn.metrics.precision_recall_curve(y_true, y_score_log)
svm = sklearn.metrics.precision_recall_curve(y_true, y_score_svm)
knn = sklearn.metrics.precision_recall_curve(y_true, y_score_knn)
tree = sklearn.metrics.precision_recall_curve(y_true, y_score_tree)

In [148]:
result = np.where(tree[1] >= 0.7)

In [149]:
a = list()
for i in result:
    a =tree[0][i]
round(max(a),2)

0.65

In [150]:
0.63 , 0.62

(0.63, 0.62)

# [Week 4](https://www.coursera.org/learn/vvedenie-mashinnoe-obuchenie/programming/QFvJY/linieinaia-rieghriessiia-proghnoz-oklada-po-opisaniiu-vakansii)

In [59]:
#загрука данных
import pandas as pd
import numpy as np
train = pd.read_csv('salary-train.csv')
test = pd.read_csv('salary-test-mini.csv')
train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

### Предобработка

In [60]:
# Заменим все, кроме букв и цифр на пробелы
y_train = train.iloc[:,3] 
X_train = train.iloc[:,:3] 
X_train['FullDescription'] = train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [15]:
# Приведение к нижнему регистру
X_train['LocationNormalized'] = train['LocationNormalized'].str.lower()
X_train['ContractTime'] = train['ContractTime'].str.lower()
X_train['FullDescription'] = train['FullDescription'].str.lower()

NameError: name 'train' is not defined

In [62]:
# Замена пустых значений на nan 
X_train['LocationNormalized'].fillna('nan', inplace=True)
X_train['ContractTime'].fillna('nan', inplace=True)

In [63]:
# применяем векторизацию
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer

vectorizer = TfidfVectorizer(min_df=5)

X_train_vec = vectorizer.fit_transform(X_train['FullDescription'])

X_test_vec = vectorizer.transform(test['FullDescription'])


enc = DictVectorizer()

X_train_categ = enc.fit_transform(X_train[['LocationNormalized', 'ContractTime']].to_dict('records'))

X_test_categ = enc.transform(test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [64]:
X_for_train = hstack([X_train_vec, X_train_categ])

X_for_test = hstack([X_test_vec, X_test_categ])

In [ ]:
# обучаем гребневую регрессию

In [65]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 1, random_state = 241)

In [66]:
ridge.fit(X_for_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=241, solver='auto', tol=0.001)

In [ ]:
# строим прогнозы

In [68]:
preds = ridge.predict(X_for_test)

In [70]:
print('Ответ:')
for i in preds:
    print(round(i,2))

Ответ:
55872.49
37163.51

# [Week 4 Составление фондового индекса](https://www.coursera.org/learn/vvedenie-mashinnoe-obuchenie/programming/UzPbw/sostavlieniie-fondovogho-indieksa)

## Инструкция по выполнению
### 1) Загрузите данные close_prices.csv. В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.
### 2) На загруженных данных обучите преобразование PCA с числом компоненты равным 10. Скольких компонент хватит, чтобы объяснить 90% дисперсии?
### 3)Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.
### 4) Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv. Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?
### 5) Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы.

In [75]:
import pandas as pd
import numpy as np
data = pd.read_csv('close_prices.csv')
data.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [87]:
 # обучение РСА
from sklearn.decomposition import PCA
pca = PCA(n_components = 10)
X = data.iloc[:,1:]

In [88]:
comper = pca.fit(X)

In [90]:
count = 0
sum = 0
for i in range(len(pca.explained_variance_ratio_)):
    count+=1
    value = pca.explained_variance_ratio_[i]
    sum+= value
    if sum > 0.9:
        break
print("Need components %d" % count)

Need components 4

In [92]:
first_comp = pd.DataFrame(pca.transform(X)[:,0])

In [96]:
jonse = pd.read_csv('djia_index.csv')
jonse = jonse.iloc[:,1:]

In [97]:
coef = np.corrcoef(first_comp.T, jonse.T)[1,0]
print("Corrcoef %0.2f" % coef)

Corrcoef 0.91

### 5)

In [118]:
indx = -1
value = -1
for i in range(len(pca.components_[0])):
    if value < pca.components_[0][i]:
        value = pca.components_[0][i]
        indx = i
print("Company name: '%s' weight: %0.2f" % (X.columns[indx], value))

Company name: 'V' weight: 0.58

In [102]:
pca.components_[0][26]

0.579683945747361